In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('C:/Users/Hp/Desktop/vs_part/drug data_csv.csv')

In [3]:
df

,Cell_Line_Name,Drug_Name,Cosmic_ID,Drug_ID,TCGA_Classification,PSA,Tissue,Tissue_Sub-type,IS_Mutated,IC50
0,697,Zoledronate,906800,1802,UNCLASSIFIED,2.0,blood,lymphoblastic_leukemia,0,2.324538
1,697,ZM447439,906800,1050,UNCLASSIFIED,10.0,blood,lymphoblastic_leukemia,0,-0.758715
2,697,YK-4-279,906800,1239,UNCLASSIFIED,20.0,blood,lymphoblastic_leukemia,0,-0.571283
3,697,XAV939,906800,1268,UNCLASSIFIED,10.0,blood,lymphoblastic_leukemia,0,4.316320
4,697,WZ4003,906800,1614,UNCLASSIFIED,10.0,blood,lymphoblastic_leukemia,0,2.138157
...,...,...,...,...,...,...,...,...,...,...
243461,ZR-75-30,615590,909907,1839,BRCA,3.0,breast,breast,0,4.222822
243462,ZR-75-30,150412,909907,1836,BRCA,3.0,breast,breast,0,4.274296
243463,ZR-75-30,123829,909907,1820,BRCA,3.0,breast,breast,0,4.683226
243464,ZR-75-30,123138,909907,1824,BRCA,1.0,breast,breast,0,4.137158
243465,ZR-75-30,50869,909907,1826,BRCA,3.0,breast,breast,0,4.743439

In [4]:
columns_to_remove = ['Cell_Line_Name', 'Drug_Name']
df= df.drop(columns_to_remove, axis=1)

In [5]:
df

,Cosmic_ID,Drug_ID,TCGA_Classification,PSA,Tissue,Tissue_Sub-type,IS_Mutated,IC50
0,906800,1802,UNCLASSIFIED,2.0,blood,lymphoblastic_leukemia,0,2.324538
1,906800,1050,UNCLASSIFIED,10.0,blood,lymphoblastic_leukemia,0,-0.758715
2,906800,1239,UNCLASSIFIED,20.0,blood,lymphoblastic_leukemia,0,-0.571283
3,906800,1268,UNCLASSIFIED,10.0,blood,lymphoblastic_leukemia,0,4.316320
4,906800,1614,UNCLASSIFIED,10.0,blood,lymphoblastic_leukemia,0,2.138157
...,...,...,...,...,...,...,...,...
243461,909907,1839,BRCA,3.0,breast,breast,0,4.222822
243462,909907,1836,BRCA,3.0,breast,breast,0,4.274296
243463,909907,1820,BRCA,3.0,breast,breast,0,4.683226
243464,909907,1824,BRCA,1.0,breast,breast,0,4.137158
243465,909907,1826,BRCA,3.0,breast,breast,0,4.743439

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder

In [7]:
import xgboost as xgb
import catboost 
from catboost import CatBoostRegressor, Pool
import lightgbm

In [8]:
nan_values=df.isna().sum()
nan_values

Cosmic_ID                 0
Drug_ID                   0
TCGA_Classification    1067
PSA                       0
Tissue                  359
Tissue_Sub-type         359
IS_Mutated                0
IC50                      0
dtype: int64

In [9]:
df= df.dropna()

In [10]:
nan_values=df.isna().sum()
nan_values

Cosmic_ID              0
Drug_ID                0
TCGA_Classification    0
PSA                    0
Tissue                 0
Tissue_Sub-type        0
IS_Mutated             0
IC50                   0
dtype: int64

In [11]:
df['TCGA_Classification'] = df['TCGA_Classification'].astype(str)

df['Tissue'] = df['Tissue'].astype(str)
df['Tissue_Sub-type'] = df['Tissue_Sub-type'].astype(str)

C:\Users\Hp\AppData\Local\Temp\ipykernel_2836\741288072.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['TCGA_Classification'] = df['TCGA_Classification'].astype(str)
C:\Users\Hp\AppData\Local\Temp\ipykernel_2836\741288072.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tissue'] = df['Tissue'].astype(str)
C:\Users\Hp\AppData\Local\Temp\ipykernel_2836\741288072.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Tissue_Sub-type'] = df['Tissue_Sub-type'].astype(str)

In [12]:
X = df.drop('IC50', axis=1)  # Replace "target_variable" with the name of your target variable column
y = df["IC50"]

In [13]:
X

,Cosmic_ID,Drug_ID,TCGA_Classification,PSA,Tissue,Tissue_Sub-type,IS_Mutated
0,906800,1802,UNCLASSIFIED,2.0,blood,lymphoblastic_leukemia,0
1,906800,1050,UNCLASSIFIED,10.0,blood,lymphoblastic_leukemia,0
2,906800,1239,UNCLASSIFIED,20.0,blood,lymphoblastic_leukemia,0
3,906800,1268,UNCLASSIFIED,10.0,blood,lymphoblastic_leukemia,0
4,906800,1614,UNCLASSIFIED,10.0,blood,lymphoblastic_leukemia,0
...,...,...,...,...,...,...,...
243461,909907,1839,BRCA,3.0,breast,breast,0
243462,909907,1836,BRCA,3.0,breast,breast,0
243463,909907,1820,BRCA,3.0,breast,breast,0
243464,909907,1824,BRCA,1.0,breast,breast,0
243465,909907,1826,BRCA,3.0,breast,breast,0

In [14]:
y

0         2.324538
1        -0.758715
2        -0.571283
3         4.316320
4         2.138157
            ...
243461    4.222822
243462    4.274296
243463    4.683226
243464    4.137158
243465    4.743439
Name: IC50, Length: 242399, dtype: float64

In [15]:
print(df.dtypes)

Cosmic_ID                int64
Drug_ID                  int64
TCGA_Classification     object
PSA                    float64
Tissue                  object
Tissue_Sub-type         object
IS_Mutated               int64
IC50                   float64
dtype: object

In [16]:
obj_feat=list(X.loc[:,X.dtypes=='object'].columns.values)

In [17]:
for feature in obj_feat:
    X[feature]=pd.Series(X[feature],dtype="category")

In [18]:
lgbmr=lightgbm.LGBMRegressor()

In [19]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=1)

In [20]:
import time
import numpy as np

In [21]:
start=time.time()
lgbmr.fit(X_train,y_train)

y_pred=lgbmr.predict(X_test)

from sklearn.metrics import r2_score as RSquared

lgbm_rsquared=np.sqrt(RSquared(y_test,y_pred))

print("R Squared for LightGBM: ", np.mean(lgbm_rsquared))

end=time.time()
diff=end-start
print('Excecution Time: ',diff)

R Squared for LightGBM:  0.8602004193278391
Excecution Time:  1.5479028224945068

In [22]:
from sklearn.metrics import mean_squared_error

y_pred = lgbmr.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("MSE:", mse)

MSE: 2.0084698489484105

In [23]:
from sklearn.metrics import mean_absolute_error

mae = mean_absolute_error(y_test, y_pred)
print("MAE:", mae)

MAE: 1.08920808509984

In [24]:
rmse = mean_squared_error(y_test, y_pred, squared=False)
print("RMSE:", rmse)

RMSE: 1.4172049424654187